<%= link_to "Home", "/" %>
<h1>Welcome to Game Review!</h1>
<h3>Login!</h3>

<p><%= flash[:error] %></p>

<%= form_for(:user) do |f| %> <!-- because we're not creating a user, we can just pass the symbol of user instead of an instance variable -->
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password%>

  <%= f.submit "Log in!" %>
<% end %>