<% if params[:game_id] %>
  <h1>Create a Review for <%= @review.game.title %>!</h1>
<% else %>
  <h1>Create a New Review!</h1>
<% end %>
<!-- Need to add another nested resource here to choose or create a new game to review; can't write a review for nothing -->

<%= form_for(@review) do |f| %>
  <%= f.label :rating %>
  <%= f.number_field :rating, min: 0, max: 10 %> out of 10

  <br>

  <%= f.label :content %>
  <%= f.text_area :content, size: "50x10" %>

  <br>

  <%= f.hidden_field :game_id %>

  <%= f.submit %>
<% end %>