<h1><%= @review.game.title %> Review</h1>
<h2>Score: <%= @review.rating %>/10</h2>
<p><%= @review.content %></p>
<p>Written By: <%= @review.user.username %></p>
<%= link_to "Edit Review", edit_review_path(@review) if @review.user == current_user%>